<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><b>Fleet MS Version 2 Angular UI</b></h1>
    <p>This is a template for a simple. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-sm">
    <a href="/friends"
       role="button"
       class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-truck"></i></span>
      <br>Fleet
    </a>
  </div>
  <div class="col-sm">
    <a href="/friends"
       role="button"
       class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-car"></i></span>
      <br>Vehicles
    </a>
  </div>
  <div class="col-sm">
    <a href="/friends"
       role="button"
       class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-users"></i></span>
      <br>HR
    </a>
  </div>
  <div class="col-sm">
    <a href="/friends"
       role="button"
       class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-money"></i></span>
      <br>Accounts
    </a>
  </div>
  <div class="col-sm">
    <a href="/friends"
       role="button"
       class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-gears"></i></span>
      <br>Parameters
    </a>
  </div>
</div>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img  width="200px" height="160px" src="/assets/images/car1.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fleet 1</h5>
          <p class="card-text">Some quick example text's content.</p>
          <a href="#" class="btn btn-primary">View Horse</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img  width="200px" height="160px" src="/assets/images/car2.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fleet 2</h5>
          <p class="card-text">Some quick example text's content.</p>
          <a href="#" class="btn btn-primary">View Horse</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img  width="200px" height="160px" src="/assets/images/car3.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fleet 3</h5>
          <p class="card-text">Some quick example text's content.</p>
          <a href="#" class="btn btn-primary">View Horse</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img  width="200px" height="160px" src="/assets/images/car4.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fleet 4</h5>
          <p class="card-text">Some quick example text's content.</p>
          <a href="#" class="btn btn-primary">View Horse</a>
        </div>
      </div>
    </div>
  </div>

</div>
